@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --primary: #3d5af1;
  --primary-light: #e8ebfb;

  --secondary: #b4b4b4;

  --warning: #dd2541;
  --success: #33be2f;

  --bg: #f6f6f6;

  --dark: #444444;
  --light: #ffffff;
  --light-white: #ececec;

  --main-font-size: 16px;
}

img {
  pointer-events: unset;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: var(--dark);
  outline-width: 0;
}

body {
  background-color: var(--bg);
  transition: background-color 200ms ease-in;
}

input[type="text"],
input[type="email"] {
  background: var(--light) !important;
  color: var(--dark) !important;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  opacity: 0.6 !important;
}

.icon {
  height: 30px;
}

.navIcon {
  height: 20px;
  margin-right: 10px;
  margin-left: 5px;
  vertical-align: middle;
}

.navbar {
  background: var(--bg);
  border-bottom: 1px solid var(--light-white);
  margin-bottom: 40px;
}

.sticky-top {
  top: 1.5em;
  z-index: 0;
}

.avatar {
  border-radius: 50%;
  height: 40px;
}

.profileAvatar {
  border-radius: 50%;
  height: 150px;
}

.loginRegisterContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9%;
}

.centerLogo {
  margin-left: auto;
  margin-right: auto;
  width: 9%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 5px;
}

.btn {
  background: var(--primary);
  color: var(--light);
  cursor: pointer;
  font-size: var(--main-font-size);
  transition: 0.1s ease;
}

.btn:disabled {
  cursor: not-allowed;
  color: var(--light);
  background-color: var(--dark);
}

.btn-block {
  display: block;
  width: 100%;
}

.nullBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.notification-item {
  margin: 7px 0px 0px 0px;
  background: rgba(240, 240, 240, 0.1);
  padding: 10px;
  border-radius: 10px;
}

.notification-item:hover {
  background-color: var(--bg);
}

.badge {
  position: absolute;
  top: -2px;
  right: -5px;
  background: var(--primary);
  font-size: 12px;
  color: var(--light);
  padding: 5px 3px;
  border-radius: 25px;
  width: 22px;
  height: 22px;
  text-align: center;
}

.themeToggleBtn {
  cursor: pointer;
  z-index: 900;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 70px 80px;
  background-color: var(--light);
  border: none;
  border-radius: 10%;
  width: 50px;
  height: 50px;
  padding: 14px;
}

.logRegForm {
  width: 260px;
  margin-bottom: -80px;
}

.vertical {
  display: inline-block;
  border-left: 3px solid var(--secondary);
  border-radius: 10px;
  margin-top: -10px;
  margin-left: 120px;
  height: 45%;
}

.content-container {
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--light-white);
  background-color: var(--light);
  transition: all 200ms ease-in;
}

.horizontalContainer {
  display: flex;
  border-radius: 10px;
  padding: 40px;
  border: 1px solid var(--light-white);
  transition: all 200ms ease-in;
  background-color: var(--light);
}

.rightbar-item {
  display: block;
  width: 100%;
  background: transparent;
  color: var(--secondary);
  text-align: left;
  border: none;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--main-font-size);
}

.rightbar-item:hover {
  color: var(--secondary);
  background: var(--light-white);
}

.rightbar .active {
  background-color: var(--primary-light);
  color: var(--primary);
  font-weight: 600;
}

.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 8px -8px 8px;
}

.tag {
  cursor: pointer;
  transition: all 0.1s ease-in;
  width: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  font-size: 15px;
  list-style: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin: 0px 6px 0px 0;
  color: var(--primary);
  background-color: var(--primary-light);
}

.tag-title {
  margin-top: 3px;
}

.tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: var(--primary);
  border-radius: 50%;
  background: var(--light);
  cursor: pointer;
}

.posts-container {
  background-color: var(--light);
  padding: 20px;
  border: 1px solid var(--light-white);
  margin-bottom: 25px;
  border-radius: 10px;
  transition: all 200ms ease-in;
  width: 100%;
}

.miniPostsContainer {
  background-color: var(--light);
  padding: 10px;
  border: 1px solid var(--light-white);
  margin-bottom: 10px;
  border-radius: 5px;
  display: inline-block;
  transition: all 100ms ease-in;
  min-width: 100%;
}

.miniPostsContainer:hover {
  background-color: var(--bg);
}

.notifications-menu {
  z-index: 2;
  border: 1px solid var(--light-white);
  background-color: var(--light);
  border-radius: 10px;
  padding: 10px 20px;
  width: 420px;
  height: 420px;
  overflow-y: scroll;
  transition: 0.2s ease;
}

.toast-style {
  border-radius: 8px !important;
  background: var(--primary-light) !important;
  border-left: 10px solid #2945d1 !important;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.05) !important;
}

.dropdown-context {
  margin-top: 10px !important;
  background-color: var(--light);
  border: 1px solid var(--light-white);
  border-radius: 5px;
}

.dropdown-context li {
  color: var(--dark);
  font-size: var(--main-font-size);
  cursor: pointer;
}

.dropdown-context li:hover {
  background: var(--light-white);
}

.dropdown-context li span {
  margin-left: 8px;
}

.dropdown-context li .bi {
  font-size: 22px;
}

.info-label {
  border: 1px solid var(--light-white);
  font-size: 18px;
  color: var(--secondary);
  margin-bottom: 40px;
  min-width: 100px;
  background-color: var(--light);
  transition: all 200ms ease-in;
  padding: 12px 12px;
  border-radius: 5px;
  text-align: center;
}

.label {
  text-align: center;
  padding: 5px 10px;
  font-weight: 600;
  color: var(--light);
  font-size: var(--main-font-size);
  border-radius: 5px;
}

.questionForm {
  margin: 10px 0;
}

.questionForm input[type="text"] {
  background-color: transparent;
  width: 100%;
  border-color: var(--dark);
  border-width: 1px;
  border-radius: 5px;
  font-size: var(--main-font-size);
  padding: 12px 14px;
  margin: 0;
}

.questionForm input[type="submit"] {
  width: 100%;
}

.profilepic {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--dark);
}

.profilepic:hover {
  cursor: pointer;
}

.profilepic:hover .profilepic__content {
  opacity: 1;
}

.profilepic:hover .profilepic__image {
  opacity: 0.5;
}

.profilepic__image {
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__text {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--light);
  width: 50%;
  text-align: center;
}

a {
  text-decoration: none;
}

.alert {
  color: var(--dark);
  padding: 6px 20px;
  border-radius: 5px;
  margin-top: -1px;
  margin-bottom: 0px;
  margin-right: 15px;
  max-width: 300px;
  text-decoration: none;
  font-size: var(--main-font-size);
  font-family: inherit;
}

.password-strength-meter-progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
}

.password-strength-meter-progress::-webkit-progress-bar {
  background-color: var(--light-white);
  border-radius: 0px 0px 5px 5px !important;
  margin-top: -2.5px;
}

.password-strength-meter-progress::-webkit-progress-value {
  border-radius: 0px 0px 5px 5px !important;
}

.paginationBtns {
  display: flex;
  list-style: none;
  margin-top: 10px;
}

.paginationBtns a {
  padding: 3px 9px;
  margin: 0px 10px 0px 0px;
  border-radius: 5px;
  background: var(--light-white);
  font-weight: bold;
  color: var(--dark) !important;
  cursor: pointer;
  transition: 0.1s ease;
}

.paginationBtns a:hover {
  transition: 0.1s ease;
  background-color: var(--dark);
  color: var(--light) !important;
}

.paginationActive a {
  background-color: var(--primary);
  color: var(--light) !important;
}

.paginationDisabled a {
  background-color: var(--light-white);
  color: var(--secondary) !important;
}

.paginationDisabled a:hover {
  background-color: var(--light-white);
  color: var(--secondary) !important;
  cursor: not-allowed;
}

.tooltip {
  color: var(--dark) !important;
  background-color: var(--light) !important;
  border: 1px solid rgba(68, 68, 68, 0.25) !important;
  padding: 10px !important;
  font-weight: bold !important;
}

.ql-editor {
  overflow-y: scroll;
  resize: vertical;
  font-size: var(--main-font-size);
  min-height: 70px;
  max-height: 210px;
}

.quill .ql-container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--light);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.quill .ql-snow.ql-toolbar {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 10px;
  background: #ececec;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ql-syntax {
  background-color: var(--bg);
  color: var(--dark);
  overflow: scroll;
  max-height: 600px;
  word-wrap: break-word;
  max-width: 0px;
  min-width: 100%;
  padding: 10px 10px 0px 10px;
  border-radius: 5px;
  transition: all 200ms ease-in;
}

.quill .ql-snow .ql-editor pre.ql-syntax {
  background-color: var(--bg);
  color: var(--dark);
  overflow: scroll;
  max-height: 600px;
}

.strength-Weak::-webkit-progress-value {
  background-color: #f25f5c;
}

.strength-Fair::-webkit-progress-value {
  background-color: #ffe066;
}

.strength-Good::-webkit-progress-value {
  background-color: #247ba0;
}

.strength-Strong::-webkit-progress-value {
  background-color: #70c1b3;
}

::-webkit-scrollbar-track {
  background-color: var(--light);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: var(--secondary);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

@media screen and (max-width: 900px) {
  .loginRegisterContainer {
    margin-top: 300px;
    display: block;
  }

  .content {
    height: 100%;
  }

  .footer {
    font-size: 12px;
  }
}

.footer {
  width: 100%;
  padding: 30px 0px;
  text-align: center;
  font-size: 16px;
  background: var(--bg);
  border-top: 1px solid var(--light-white);
}

.footer-gap {
  padding: 40px 0 0 0;
}
