@import url("https://fonts.googleapis.com/css2?family=DM+Sans");
@import url("https://fonts.googleapis.com/css?family=Overpass");

:root {
  --primary: #3d5af1;
  --secondary: #b4b4b4;
  --gray: #444444;
  --blue: #e8ebfb;
  --red: #dd2541;
  --green: #33be2f;
  --bg: #f6f6f6;
  --white: #ffffff;
  --light-white: #ececec;
  --main-font-size: 18px;
}

img {
  pointer-events: unset;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  color: var(--gray);
  outline-width: 0;
}

body {
  background-color: var(--bg);
  transition: background-color 200ms ease-in;
}

.icon {
  height: 30px;
}

.navIcon {
  height: 20px;
  margin-right: 10px;
  margin-left: 5px;
  vertical-align: middle;
}

.avatar {
  border-radius: 50%;
  height: 50px;
}

.profileAvatar {
  border-radius: 50%;
  height: 150px;
}

.loginRegisterContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9%;
}

.centerLogo {
  margin-left: auto;
  margin-right: auto;
  width: 9%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.centered h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 5px;
}

.btn {
  display: inline-block;
  background: var(--primary);
  color: var(--white);
  border: none;
  padding: 13px 20px;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: var(--main-font-size);
  font-family: inherit;
  transition: all 200ms ease-out;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(1.02);
  transition: all 200ms ease-in;
}

button:disabled {
  background-color: var(--gray);
}

.btn-block {
  display: block;
  width: 120%;
}

.nullBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nullBtn:disabled {
  background-color: transparent;
}

.themeToggleBtn {
  cursor: pointer;
  z-index: 900;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 70px 80px;
  background-color: var(--white);
  border: none;
  border-radius: 10%;
  width: 50px;
  height: 50px;
  padding: 14px;
}

.logRegForm {
  width: 260px;
  margin-bottom: -80px;
}

.vertical {
  display: inline-block;
  border-left: 3px solid var(--secondary);
  border-radius: 10px;
  margin-top: -10px;
  margin-left: 120px;
  height: 45%;
}

.container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 80px 40px;
  height: 100%;
}
.container-div {
  width: 100%;
  margin: 0px 40px;
  height: 100%;
}

.whiteContainer {
  margin-top: 40px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--light-white);
  background-color: var(--white);
  transition: all 200ms ease-in;
}

.horizontalContainer {
  display: flex;
  border-radius: 10px;
  padding: 40px;
  border: 1px solid var(--light-white);
  transition: all 200ms ease-in;
  background-color: var(--white);
}

.rightbar button {
  width: 100%;
  background: transparent;
  color: var(--secondary);
  text-align: left;
  border: none;
  padding: 13px 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--main-font-size);
  transition: all 150ms ease-in;
}

.rightbar-item {
  display: block;
  width: 100%;
  background: transparent;
  color: var(--secondary);
  text-align: left;
  border: none;
  padding: 13px 20px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--main-font-size);
}

.rightbar-item:hover {
  background: var(--light-white);
}

.rightbar .active {
  background-color: var(--blue);
  color: var(--primary);
}

.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  border: 1px solid var(--gray);
  border-radius: 6px;
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 8px -8px 8px;
}

.tag {
  cursor: pointer;
  transition: all 150ms ease-in;
  width: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  font-size: 15px;
  list-style: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  margin: 0px 8px 8px 0;
  color: var(--primary);
  background-color: var(--blue);
}

.tag-title {
  margin-top: 3px;
}

.tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: var(--primary);
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
}

.tag:hover {
  transform: scale(1.03);
  transition: all 150ms ease-in;
}

.postsContainer {
  background-color: var(--white);
  padding: 20px;
  border: 1px solid var(--light-white);
  margin-bottom: 40px;
  border-radius: 10px;
  display: flex;
  transition: all 200ms ease-in;
  width: 100%;
}

.postsContainer-div {
  width: 100%;
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.content {
  overflow: scroll;
  margin: 7% auto;
  text-align: left;
  background-color: var(--white);
  border-radius: 10px;
  width: 50vw;
  height: 70%;
  padding: 40px;
  position: relative;
}

.dropdown {
  position: absolute;
  margin-top: 90px;
  z-index: 999;
  border: 1px solid var(--light-white);
  border-top: 2px solid var(--light-white);
  background-color: var(--white);
  /* box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.03); */
  border-radius: 10px;
  padding: 20px;
  overflow: scroll;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: all 200ms ease-out;
}

.dropdown.shown {
  visibility: visible;
  height: 45%;
  opacity: 100;
  transition: all 200ms ease-in;
}

.context-content {
  visibility: hidden;
  position: absolute;
  background-color: var(--white);
  margin-top: 12px;
  border: 1px solid var(--light-white);
  z-index: 99;
  transition: all 200ms ease-in;
  opacity: 0;
  border-radius: 5px;
}

.context-content.shown {
  visibility: visible;
  opacity: 100;
  transition: all 200ms ease-in;
}

.context-content li {
  color: var(--gray);
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: right;
  font-size: var(--main-font-size);
  cursor: pointer;
}

.context-content .button {
  color: var(--secondary);
  display: flex;
  padding: 10px 15px;
  margin-top: 4px;
  font-size: var(--main-font-size);
}

.sortLabel {
  border: 1px solid var(--light-white);
  font-size: 18px;
  color: var(--secondary);
  margin-bottom: 40px;
  min-width: 100px;
  background-color: var(--white);
  transition: all 200ms ease-in;
  padding: 12px 12px;
  border-radius: 5px;
  text-align: center;
}

.label {
  text-align: center;
  height: 35px;
  margin: 5px 20px 0px 20px;
  padding: 5px 10px;
  font-weight: 600;
  color: #444444;
  font-size: var(--main-font-size);
  border-radius: 5px;
}

.questionForm {
  margin: 10px 0;
}

.questionForm input[type="text"] {
  background-color: transparent;
  width: 100%;
  border-color: var(--gray);
  border-width: 1px;
  border-radius: 5px;
  font-size: var(--main-font-size);
  padding: 12px 14px;
  margin: 0;
}

.questionForm input[type="submit"] {
  width: 100%;
}

.profilepic {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--gray);
}

.profilepic:hover {
  cursor: pointer;
}

.profilepic:hover .profilepic__content {
  opacity: 1;
}

.profilepic:hover .profilepic__image {
  opacity: 0.5;
}

.profilepic__image {
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__text {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--white);
  width: 50%;
  text-align: center;
}

a {
  text-decoration: none;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  background-color: transparent;
  width: 120%;
  border-color: var(--gray);
  border-width: 1px;
  border-radius: 5px;
  font-size: var(--main-font-size);
  margin: 5px;
  padding: 13px 9px;
}

.form-control input:disabled {
  opacity: 0.6;
}

.check-field [type="checkbox"] {
  position: absolute !important;
  border-radius: 5px;
  left: -9999px;
}

.check-field [type="checkbox"] + label {
  position: relative !important;
  padding-left: 2rem !important;
  cursor: pointer !important;
}

.check-field [type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  border: 3px solid var(--primary);
}

.check-field [type="checkbox"] + label:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 5px;
  left: 5px;
  font-size: 1.3em;
  line-height: 0.8;
  border-radius: 2px;
  background-color: var(--primary);
  transition: all 0.2s;
}

.check-field [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.check-field [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

::placeholder {
  color: var(--secondary);
}

.error {
  color: var(--white);
  border: none;
  padding: 13px 20px;
  margin-bottom: 5px 0px;
  margin-top: 20px;
  border-radius: 5px;
  max-width: 300px;
  text-decoration: none;
  font-size: var(--main-font-size);
  font-family: inherit;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
}

.error.active {
  background: var(--red);
  transition: all 0.2s ease-in;
  opacity: 100;
  visibility: visible;
}

.error.success {
  background-color: var(--green);
  transition: all 0.2s ease-in;
  opacity: 100;
  visibility: visible;
}

.password-strength-meter {
  text-align: left;
}

.password-strength-meter-progress {
  -webkit-appearance: none;
  appearance: none;
  width: 122%;
  height: 10px;
}

.password-strength-meter-progress::-webkit-progress-bar {
  background-color: var(--light-white);
  border-radius: 10px;
}

.password-strength-meter-label {
  font-size: 16px;
}

.password-strength-meter-progress::-webkit-progress-value {
  border-radius: 10px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.paginationBtns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  margin: 30px 0px 0px 0px;
}

.paginationBtns a {
  padding: 10px 15px 10px 15px;
  margin: 0px 15px 0px 0px;
  border-radius: 5px;
  background-color: var(--blue);
  font-weight: bold;
  color: var(--primary);
  cursor: pointer;
  transition: all 150ms ease-in;
}

.paginationBtns a:hover {
  transition: all 150ms ease-in;
  background-color: var(--primary);
  color: var(--white);
}

.paginationActive a {
  background-color: var(--primary);
  color: var(--white);
}

.paginationDisabled a {
  background-color: var(--light-gray-color);
  color: var(--secondary);
  cursor: default;
}

.paginationDisabled a:hover {
  background-color: var(--light-gray-color);
  color: var(--secondary);
}

.showMoreLink {
  display: inline-block;
  font-size: var(--main-font-size);
  border: 1px solid var(--light-white);
  color: var(--secondary);
  font-weight: bold;
  margin-left: 65px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--white);
}

.showmorelink:hover {
  cursor: pointer;
  background-color: var(--primary);
}

.tooltip {
  color: var(--gray) !important;
  background-color: var(--secondary) !important;
  padding: 10px !important;
  font-weight: bold !important;
}

.ql-editor {
  overflow-y: scroll;
  resize: vertical;
  font-size: var(--main-font-size);
  min-height: 70px;
  max-height: 210px;
}

.quill {
  margin-top: -15px;
}

.quill .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: transparent;
  border: 1px;
  border-color: var(--gray) !important;
}

.quill .ql-snow.ql-toolbar {
  border: 1px solid var(--gray);
  display: block;
  background: #ececec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-syntax {
  background-color: var(--bg);
  color: var(--gray);
  overflow: scroll;
  max-height: 600px;
  word-wrap: break-word;
  max-width: 0px;
  min-width: 100%;
  padding: 10px 10px 0px 10px;
  border-radius: 5px;
  transition: all 200ms ease-in;
}

.quill .ql-snow .ql-editor pre.ql-syntax {
  background-color: var(--bg);
  color: var(--gray);
  overflow: scroll;
  max-height: 600px;
}

.strength-Weak::-webkit-progress-value {
  background-color: #f25f5c;
}

.strength-Fair::-webkit-progress-value {
  background-color: #ffe066;
}

.strength-Good::-webkit-progress-value {
  background-color: #247ba0;
}

.strength-Strong::-webkit-progress-value {
  background-color: #70c1b3;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: var(--secondary);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

@media screen and (max-width: 900px) {
  .loginRegisterContainer {
    margin-top: 300px;
    display: block;
  }

  .content {
    height: 100%;
  }
}

.footer {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  background-color: white;
  color: var(--gray);
  overflow: auto;
  position: absolute;
  margin-top: 100vh;
}
