.topnav {
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  background-color: var(--white);
  border: 1px solid var(--light-white);
  border-radius: 0px 0px 10px 10px;
  transition: all 200ms ease-in;
}

.topnav a {
  float: left;
  display: block;
  color: var(--gray);
  text-align: center;
  padding: 6px 12px;
  margin: 20px 60px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  cursor: default;
}

.topnav-centered input[type="text"] {
  width: 42%;
  background-color: transparent;
  padding: 13px 36px;
  border-color: var(--gray);
  border-width: 1px;
  border-radius: 6px;
  font-size: var(--main-font-size);
  position: absolute;
  left: 50%;
  float: center;
  transform: translate(-50%, 50%);
  transition: all 200ms ease-out;
}

.searchInput {
  background: url(../resources/search.png) no-repeat scroll 12px 17px;
}

.topnav-right {
  float: right;
}

@media screen and (max-width: 1200px) {
  .topnav a,
  .topnav-right {
    display: block;
  }

  .topnav-centered input[type="text"] {
    position: absolute;
    left: 50%;
    transform: none;
    float: center;
    transform: translate(-50%, 50%);
  }
}
