.notification {
  color: var(--white);
  text-decoration: none;
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.notification-item {
  display: flex;
  margin: 0px 0;
  padding: 10px 5px;
  border-radius: 10px;
}

.notification-item:hover {
  background-color: var(--bg);
}

.notification-item.viewed {
  border-right: 2px solid;
  border-color: var(--white);
}

.badge {
  position: absolute;
  top: -2px;
  right: -3px;
  background: var(--primary);
  color: var(--white);
  padding: 5px 3px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}

.notifCardArea {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 70px 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 998;
}
